<template name="newgame">

    <!-- {{> quickForm collection="Game"  id="insertBookFormQuick" type="insert"}} -->
  {{#if currentUser}}
    {{#autoForm collection="Game" id="insertGameForm" type="method" meteormethod="createGame"}}
    <fieldset>
  <legend> Be a Quest Master</legend>
   <label for="name"> Name of The Game</label>
      <input type="text" name="name" id="gameName">
      <!-- {{> afQuickField name='name'}} -->
      <label for="description">Descrption</label>
      <input type="textarea" name="description" id="gameDescription" value="">
      <!-- {{>  afQuickField name='description' row=6}} -->
      <label for="private"> Private ? </label>
      <input type="checkbox" name="private" id="privateGame">
      <!-- {{> afQuickField name='private'}} -->
       List of attributes
      {{#each attribute in attributesPlayers }}
            <h2>{{attribute.name}} </h2>
            <h3> {{attribute.description}} </h3>
      {{/each}}

        <label for="attributeName"> Name of the attribute</label>
        <input type="text" id="attributeName" value="">
        <label for="attributeDescription"> Description of the attribute</label>
        <input type="textarea" id="attributeDescription" value="">
        <label for="attributeMaxPoint"> Max Point for that attribute </label>
        <input type="number" id="attributeMaxPoint" value="">

        <button id="addAttribute"> Add Attribute </button>
    </fieldset>
        <button type="submit" id="createGame"> Create</button>
    {{/autoForm}}
    {{else}}
      Please Login to play
  {{/if}}
</template>
<template name="newPlayer">
  <fieldset>
<legend> Do this Quest ! </legend>
    <label for="namePlayer"> Caracter's namem</label>
    <input type="text" name="name" id="playerName">
    <label for="playerClass">Class</label>
    <input type="textarea" name="playerClass" id="playerClass" value="">
    <label for="playerRace">Race</label>
    <input type="textarea" name="playerRace" id="playerRace" value="">
    <label for="playerAlignment">Alignment</label>
    <input type="textarea" name="playerAlignment" id="playerAlignment" value="">
    <label for="playerPersonality">Personality</label>
    <input type="textarea" name="playerPersonality" id="playerPersonality" value="">
    <label for="playerDeepWishes">DeepWishes</label>
    <input type="textarea" name="playerDeepWishes" id="playerDeepWishes" value="">
    <label for="playerWeakness">Weakness</label>
    <input type="textarea" name="playerWeakness" id="playerWeakness" value="">
    <label for="playerHistory">History</label>
    <input type="textarea" name="playerHistory" id="playerHistory" value="">
    List of General Attributes
    {{#each attribute in attributeList }}
      <label for="{{attribute.name}}">{{attribute.name}}</label>
      <input type="text" name="{{attribute.name}}" id="class" value="">
    {{/each}}
    List of Personnal Attributes
    {{#each attribute in attributesPlayers }}
        {{attribute}}
    {{/each}}
      <label for="attributePersonnalName"> Name of the attribute</label>
      <input type="text" id="attributePersonnalName" value="">
      <button id="addAttribute"> Add Attribute </button>
      <button id="addPlayer"></button>
  </fieldset>
</template>


<template name="userList">
    <h1 id="messageAddingUser"></h1>
    <p>Usernames list </p>
    <p> click to Add this Friend  </p>
    {{#each listUser}}
              <h4 id="addThisFriend">{{username}} </h4>
    {{/each}}
</template>
