
<template name="home">
    Welcome !
    <button id="create">create a game</button>
    <button id="userDMgames">Created Games</button>
	<button id="userPLgames">Games as player</button>
    {{#if createOn}}
      {{> newgame}}
    {{/if}}
    {{#if userDMgamesOn}}
      {{> gameCardsList  games=userDMgames }}
    {{/if}}
	{{#if userPLgamesOn}}
      {{> gameGamesList games=userPLgames}}
    {{/if}}
<br><br><br>
     {{#if publicOn}}
  {{> welcome }}
  {{> input }}
  {{> messages lobbyId=lobbyId}}
   {{/if}}
</template>

<template name="welcome">
  <p>
    Let's chat.
  </p>
</template>

<template name="messages">
  <h1>Chatapp</h1>

  {{#each messages lobbyId}}

    <strong>{{name}}:</strong> {{message}} <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Time:</strong>{{time}} <br>
  {{/each}}
</template>

<template name="input">
  <p>Message: <input type="text" id="message"></p>
</template>
