<template name="gameCardsList">
  Games List
  {{#each game in games}}
    {{> gameCard game=game}}
  {{/each}}
  {{#if gameLobbyOn }}
      {{> gameLobby game=gameVar}}
  {{/if}}
   {{#if gameItselfOn }}
      {{> gameLobby game=gameVar}}
  {{/if}}
</template>

<template name="gameCard">
    <b id="gameName">{{game.name}}</b>

</template>

<template name="gameLobby">
    <h1> {{game.name}} </h1>
      {{#if userIsDM}}
      <button id="deleteGame" style="background: red;"> Delete This Game </button>

          {{> userList}}
      {{/if}}
      {{#if userIsPlayer}}
        {{#if userCompleteCaracter}}
            {{> presentMembers members=game.members}}
          {{else}}
            {{> newPlayer  attributeList=game.attributeList gameId=game._id}}
          {{/if}}
        {{/if}}
</template>


<template name="presentMembers">
      <h1>  Caracters in this game: </h1>
      {{#each member in members}}
        <h2>{{member.name}}</h2>
      {{/each}}
</template>
