<template name="gameCardsList">
  Games List
  {{#each game in games}}
    {{> gameCard game=game}}
  {{/each}}
  {{#if gameLobbyOn }}
      {{> gameLobby game=gameVar}}
  {{/if}}
</template>

<template name="gameCard">
    <b id="gameName">{{game.name}}</b>

</template>
<template name="gameLobby">
    <h1>  {{game.name}} </h1>
      {{#if userIsDM}}
      <button id="deleteGame" style="background: red;"> Delete This Game </button>

          {{> userList}}
      {{/if}}
      {{#if userIsPlayer}}
      {{> newPlayer  attributeList=game.attributeList gameId=game._id}}
      {{/if}}
       Members of the game:
       {{#each member in game.members}}
          <p>
            {{member.name}}
          </p>
       {{/each}}
</template>
